footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
}

@media (max-width: 800px) {
    footer
    {
        flex-direction: column;
    }

    .footer-left-section
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footer-right-section
    {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 801px) 
{
    .footer-left-section
    {
        flex: 1;
        vertical-align: middle;
    }

    .footer-right-section
    {
        flex: 1;
        right: 30px;
        align-items: center;
        vertical-align: middle;
    }
}

.footer-left-section
{
    flex: 1;
}

.footer-right-section
{
    flex: 1;
    right: 30px;
}

.logo
{
    margin-top: 12px;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding: 12px 60px;
    background-color: #C4C4C4;
    color: #000000;
}

.author
{
    position: relative;
    margin-top: 64px;
    color: black;
    font-size: 12px;
    line-height: 14px;
    color: #7C7C7C;

}

.flex-logo
{
    display: flex;
    flex-direction: row;
}

.itf
{
    position: relative;
    width: 30px;
    margin-right: 20px;
    top: 10px;
}

table{
    color: black;
    top: 80px;
    font-size: 14px;
    line-height: 14px;
    left: 200px;
    font-family: 'Roboto';
}

.headertable
{
    font-weight: bold;
    margin-right: 10px;
    line-height: 40px;
}

td{
    line-height: 20px;
    width: 120px;
}