p
{
    margin-top: 0;
    margin-bottom: 0;
}

body
{
    font-family: 'Roboto';
    font-style: normal;
    margin: 0;
    padding: 0;
    
}

main
{
    position: absolute;
    top: 59px;
    left: 120px;
    right: 120px;
    bottom: 20px;
}