.header
{
    height: 59px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  
    background-color: #222222;
}

.nav-left-section
{
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;
    text-align: center;    
    box-sizing: border-box;

    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    border: 2px solid #FFFFFF;
    padding: 0 64px;
}

.nav-middle-section
{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.sub-nav-middle-section
{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: 41px;
}

.nav-right-section
{
    width: 100px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.cart-container 
{
    position: relative;
    width: 40px;
}

.cart-image
{
    height: 20px;
}

.cart-count
{
    position: absolute;
    top: -8px;
    right: 7px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;

    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    text-align: center;
}

.user-channel-container
{
    display: flex;
    justify-content: space-between;
}

.user-channel-image
{
    width: 41px;
    border-radius: 24px;
    margin-right: 10px;
}

.dropdown-image
{
    width: 12px;
}

